﻿@using System.Web.UI.WebControls
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title> 
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    @Styles.Render("~/Content/Site.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-default">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Just Do It</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    @if (ViewBag.Model == null || !ViewBag.Model.Authorized)
                    {
                        <li><a href="#">Features</a></li>
                        <li><a href="/Login">Log in</a></li>
                        <li><a class="menu-signup-button" href="/Registration/Register">Registration</a></li>
                    }
                    else
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@(ViewBag.Model.Name) <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/Profile">View profile</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/Home/LogOut">Log out</a></li>
                            </ul>
                        </li>
                    }
                </ul>
            </div>
    </nav>

@RenderBody()
@RenderSection("scripts", required: false)
</body>
</html>
