﻿@using System.Web.Mvc.Html

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<center>
    <h1>Записи из базы данных</h1>
</center>
<table class="centered">
    <thead>
        <tr>
            <th>Ник</th>
            <th>Пароль</th>
            <th>Имя</th>
            <th>Фамилия</th>
        </tr>
    </thead>
</table>
