﻿@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<header class="container">
    <nav class="navbar">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Just Do It</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Features</a></li>
                    <li><a href="/Login">Log in</a></li>
                    <li><a class="menu-signup-button" href="/Registration/Register">Get started</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<main class="welcome-content">
    <section class="welcome-banner">
        <h1 class="welcome-heading">
            Управляйте своими проектами
        </h1>
        <p class="welcome-tagline">
            хо-хо-хо
        </p>
        <p>
            <a class="welcome-signup-button" href="/account/signup/">
                Начать!
            </a>
        </p>
    </section>
    <section class="welcome-description">
        какое-то описание
    </section>
</main>

