﻿.form-box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
    border: 1px solid #ccc;
    -ms-border-radius: 5px;
    border-radius: 5px;
    margin: 0 auto 60px;
    padding: 30px;
    width: 600px;
}