﻿header {
    padding-top: 20px;
    padding-bottom: 20px;
}

.welcome-content {
    text-align: center;
}

.welcome-banner {
    padding-top: 55px;
    padding-bottom: 60px;
    background-color: rgb(245, 245, 245);
}

.welcome-heading {
    -webkit-font-smoothing: antialiased;
    font-size: 58px;
    font-weight: bold;
    color: #205081;
}

.welcome-tagline {
    -webkit-font-smoothing: antialiased;
    color: rgb(112, 112, 112);
    font-size: 20px;
    margin: 20px auto 0 auto;
}

.welcome-signup-button {
    background-color: #67ab49;
    border: none;
    -ms-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    margin-top: 30px;
    padding: 10px 15px;
}

.welcome-signup-button:hover {
    background-color: #14892c;
    color: #fff;
    text-decoration: none;
}

.navbar-right > li > a.menu-signup-button {
    border: 1px solid #67ab49;
    -ms-border-radius: 4px;
    border-radius: 4px;
    color: #67ab49;
    display: inline-block;
    font-weight: 500;
    padding: 6px 10px;
    margin-left: 15px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.navbar-right > li > a.menu-signup-button:hover {
    background-color: #67ab49;
    color: #fff;
}