﻿@model JustDoIt.ViewModels.UserViewModel

@{
    ViewBag.Title = "Authorization";
    ViewBag.Model = Model;
    Layout = "~/Views/Shared/ContentsLayout.cshtml";
}

<div class="container">
    @using (Html.BeginForm("Index", "Login", FormMethod.Post, new { @class = "form-horizontal form-box" }))
    {
        <fieldset>
            <legend>Авторизация</legend>
            <div class="form-group">
                <label class="col-sm-4 control-label" for="Name">
                    Name
                </label>
                <div class="col-sm-8">
                    @Html.TextBox("Name", "", new {@class = "form-control input-xlarge"})
                </div>

            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label" for="Password">
                    Password
                </label>
                <div class="col-sm-8">
                    @Html.Password("Password", "", new {@class = "form-control input-xlarge"})
                </div>
            </div>
            <div class="form-group">
                <p class="col-sm-8 col-sm-offset-4 text-danger">@Html.ValidationMessage("Password")</p>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary col-sm-offset-4">
                    Войти
                </button>
            </div>
        </fieldset>
    }
</div>
