﻿@model JustDoIt.ViewModels.UserViewModel

@{
    ViewBag.Title = "Registration";
    ViewBag.Model = Model;
    Layout = "~/Views/Shared/ContentsLayout.cshtml";
}

<div class="container">
    @using (Html.BeginForm("Register", "Registration", FormMethod.Post, new { @class = "form-horizontal form-box" }))
    {
        <fieldset>
            <legend>Регистрация</legend>
            <div class="form-group">
                <label class="col-sm-4 control-label" for="Name">
                    Name
                </label>
                <div class="col-sm-8">
                    @Html.TextBox("Name", "", new { @class = "form-control input-xlarge"})
                    @Html.ValidationMessage("Name")
                </div>

            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label" for="Password">
                    Password
                </label>
                <div class="col-sm-8">
                    @Html.Password("Password", "", new {@class = "form-control input-xlarge"})
                    @Html.ValidationMessage("Password")
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label" for="FirstName">
                    First Name
                </label>
                <div class="col-sm-8">
                    @Html.TextBox("FirstName", "", new { @class = "form-control input-xlarge" })
                    @Html.ValidationMessage("FirstName")
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label" for="LastName">
                    Last Name
                </label>
                <div class="col-sm-8">
                    @Html.TextBox("LastName", "", new { @class = "form-control input-xlarge" })
                    @Html.ValidationMessage("LastName")
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary col-sm-offset-4">
                    Зарегистрироваться
                </button>
            </div>
        </fieldset>
    }
</div>
